apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: upload-widget-server-hpa
  namespace: upload-widget
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: upload-widget-server-deployment
  minReplicas: 3
  maxReplicas: 8
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30 # espera 30 segundos antes de reduzir os pods
      policies:
        - type: Pods
          value: 2
          periodSeconds: 15 # encerra 2 pods a cada 15 segundos
        - type: Percent
          value: 20
          periodSeconds: 30 # encerra 20% dos pods a cada 30 segundos
      selectPolicy: Max
    scaleUp:
      stabilizationWindowSeconds: 0 # sem espera para aumentar os pods
      policies:
        - type: Percent
          value: 50
          periodSeconds: 5 # adiciona 50% dos pods a cada 5 segundos
